.block__header {
    width: 100%;
    padding: 2em;
    font-size: 3em;
    font-weight: 100;
    font-family: 'Roboto Slab';
}
.block {
	background: radial-gradient(ellipse at 25% 40%, #2a2a2a, #0f1110, #000);
}
.block__wrapper {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-evenly;
}
.hide_pic {
	display: none;
}
.block-site__item {
    display: flex;
    flex-wrap: wrap;
    background: #262626;
    border: 1px solid #171717;
    width: 310px;
    justify-content: center;
    border-radius: 4px;
	min-height: 350px;
    margin: 0 1rem 5rem 1rem;
    &:hover {
        box-shadow: 0px 15px 20px #000000aa;
    }
}
.block-site__img {
    padding: 30px;
}
.block-site__img--preview {
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
}
.block-site__text {
    padding: 15px 25px;
    font-size: 0.75em;
    width: 100%;
}
.tag-list__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    align-content: space-around;
    font-size: 0.7rem;
}
.tag-list__item {
    padding: 0 10px 10px 0;
    &:last-child {
        padding-right: 0;
    }
}
.rounded_logo {
    margin: 3rem;
    border-radius: 1rem;
}
@media (max-width: $bp-m) {
    .block-site__item {
        width: 100%;
    }
}